<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/leaderboard.css' %}"
    />
    <title>Leaderboard</title>
  </head>
  <body>
    <div class="index-root">
      <h1 class="leaderboard-title">Pablongo Quiz</h1>
      <div class="leaderboard-box">
        <h1>Leaderboard</h1>
        <ul class="leaderboard-list">
          {% for player in players %}
          <li class="leaderboard-item">
            {{ player.username }} - {{ player.score }}
          </li>
          {% endfor %}
        </ul>
        <form method="post" action="{% url 'reset_quiz' %}">
          {% csrf_token %}
          <div class="leaderboard-reset-button-cont">
            <button class="leaderboard-reset-button" type="submit">
              Reset Quiz
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
