<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>My Models</h1>
    <ul>
      {% for question in questions %}
      <li>{{ question.description }}</li>
      {% for answer in question.answers %}
      <p>- {{ answer.description }}</p>
      {% endfor %} {% endfor %}
    </ul>
  </body>
</html>
