<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>
</head>

<body>
    <h1>Quiz</h1>
    {% if question %}
    <h2>Question {{ question_number }}:</h2>
    <p>{{ question.description }}</p>
    {% for answer in question.answers %}
    <p> {{ answer.description }} </p>
    {% endfor %}
    <form method="post" action="{% url 'questions_view' %}">
        {% csrf_token %}
        <label for="answer">Answer:</label>
        <input type="text" id="answer" name="answer">
        <button type="submit">Submit</button>
    </form>
    {% if feedback %}
    <p>{{ feedback }}</p>
    {% endif %}
    {% else %}
    <p>Quiz completed!</p>
        <h1>Score: {{ player.score }}</h1>
        <form method="post" action="{% url 'leaderboard_view' %}">
            {% csrf_token %}
            <button type="submit">Next</button>
        </form>
    {% endif %}
</body>

</html>