* {
  box-sizing: border-box;
  color: #1a1f36;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

:root {
  --brand: rgb(84, 105, 212);
  accent-color: var(--brand);
}

.index-root {
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tarjeta-inicio {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px;
  min-width: 400px;
  max-width: 448px;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.descripcion-quiz {
  display: block;
  margin-bottom: 10px;
}

.descripcion-quiz > p {
  color: dimgray;
  text-align: justify;
  text-justify: inter-word;
}

.titulo-tarjeta-inicio {
  box-sizing: border-box;
}

.titulo-tarjeta-inicio > h1 {
  letter-spacing: -2px;
  color: rgb(84, 105, 212);
}

.label-tarjeta-inicio {
  display: block;
  padding-bottom: 16px;
}

.label-tarjeta-inicio > label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.label-tarjeta-inicio > input {
  width: 100%;
  font-size: 16px;
  padding: 8px 16px;
  min-height: 44px;
}

.range-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.range-slider > input {
  width: 100%;
  font-size: 16px;
  /* padding: 8px 16px; */
  /* min-height: 44px; */
}

.range-slider > span {
  display: inline-block;
  margin-left: 4px;
  font-size: 16px;
}

.btn-tarjeta-inicio {
}

.btn-tarjeta-inicio > button {
  background-color: rgb(84, 105, 212);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-tarjeta-inicio > button:hover {
  background-color: rgb(64, 85, 182);
}
