* {
  box-sizing: border-box;
  color: #1a1f36;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

:root {
  --brand: rgb(84, 105, 212);
  accent-color: var(--brand);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  width: 300px;
  box-shadow: 0px 3px 10px -2px #a6afd3;
  text-align: center;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #555;
}

.index-root {
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.quiz-title {
  letter-spacing: -2px;
  color: rgb(84, 105, 212);
  margin-block-start: 0.335em;
  margin-block-end: 0.335em;
}

.question-container {
  display: flex;
  flex-direction: column;
  min-width: 50vw;
}

.quiz-question-desc {
  padding-left: 0.5rem;
}

.section-quiz {
  display: flex;
  flex-flow: column wrap;
}

.quiz-input-label {
  flex: 1;
  padding: 0.5rem;
}

input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: rgb(188, 190, 194);
    border-color: rgb(188, 189, 194);
    box-shadow: none;
    cursor: not-allowed;
  }
}

label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid rgb(84, 105, 212);
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px #a6afd3;
  position: relative;
}

input[type="radio"] + label + p {
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked + label {
  background: rgb(84, 105, 212);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px rgba(84, 105, 212, 0.75);
  & p {
    color: #fff;
  }
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid rgb(84, 105, 212);
    content: "\f00c";
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 46px;
    width: 46px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
  }
}

input[type="radio"]:not(:checked):hover + label {
  background-color: rgba(176, 189, 253, 0.25);
}

label > p {
  font-weight: 900;
}

.quiz-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.quiz-submit-answer {
  background-color: rgb(84, 105, 212);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quiz-submit-answer:hover {
  background-color: rgb(64, 85, 182);
}

@media only screen and (max-width: 700px) {
  .section-quiz {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

.quiz-completed {
  background-color: #fff;
  margin-block-start: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  min-width: 300px;
  max-width: 448px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-completed p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.quiz-completed h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.quiz-completed form {
  margin-top: 20px;
}

.quiz-completed button {
  background-color: rgb(84, 105, 212);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quiz-completed button:hover {
  background-color: rgb(64, 85, 182);
}
