* {
  box-sizing: border-box;
  color: #1a1f36;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

:root {
  --brand: rgb(84, 105, 212);
  accent-color: var(--brand);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.index-root {
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.quiz-title {
  letter-spacing: -2px;
  color: rgb(84, 105, 212);
}

.section-quiz {
  display: flex;
  flex-flow: row wrap;
}

.quiz-input-label {
  flex: 1;
  padding: 0.5rem;
}

input[type="radio"] {
  display: none;
  &:not(:disabled) ~ label {
    cursor: pointer;
  }
  &:disabled ~ label {
    color: rgb(188, 190, 194);
    border-color: rgb(188, 189, 194);
    box-shadow: none;
    cursor: not-allowed;
  }
}

label {
  height: 100%;
  display: block;
  background: white;
  border: 2px solid rgb(84, 105, 212);
  border-radius: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
  /* //margin: 1rem; */
  text-align: center;
  box-shadow: 0px 3px 10px -2px #a6afd3;
  position: relative;
}

input[type="radio"]:checked + label {
  background: hsla(230, 59.8, 58, 1);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(230, 59.8, 58, 0.75);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid hsla(230, 59.8, 58, 1);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}

label > p {
  font-weight: 900;
}

.quiz-submit-answer {
  background-color: rgb(84, 105, 212);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}
